<!-- Footer -->
<footer class="page-footer font-small blue">
  <div class="container-fluid section__second text-center text-md-left">
    <div class="row">
      <div class="col-md-3 mt-md-0 mt-3">
        <h6 class="text-uppercase">Du magst Tournament?</h6>
        <p class="textDarunter">Empfehle uns deinen Freunden!</p>
        <a href="#" class="fa fa-facebook"></a>
        <a href="#" class="fa fa-twitter"></a>
        <a href="#" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-pinterest"></a>
      </div>
      <div class="col-md-3 mt-md-0 mt-3">
        <p class="text-uppercase" style="margin-bottom: 50px;"></p>
        <p class="textDarunter">Lad uns doch auf ein Bier ein!</p>
        <a href="#" class="fa fa-paypal"></a>
        <a href="#" class="fa fa-cc-visa"></a>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        <h6 class="text-uppercase">Support</h6>
        <hr class="deep-purple accent-2 mb-3 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <ul class="list-unstyled support__list">
          <li>
            <a href="#!">Hilfe</a>
          </li>
          <li>
            <a href="#!">Kontakt</a>
          </li>
          <li>
            <a href="#!">FAQ</a>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">
        <h6 class="text-uppercase">Über uns</h6>
        <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <ul class="list-unstyled">
          <li>
            <a href="#!">AGB</a>
          </li>
          <li>
            <a href="#!">Impressum</a>
          </li>
          <li>
            <a href="#!">Datenschutz</a>
          </li>
          <li>
            <a href="#!">Nutzungsbedingungen</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
