body {
  height: 120vh;
}

.navbar .navbar__logo {
  max-height: 35px;
}

.navbar{
  font-size: 15px;
  width: 100%;
  z-index: 10;
  position: fixed;
}
.abstandTop{
  padding: 60px;
}

.heading{
  font-family:Viga;
  margin-bottom: 50px;
}
.backgroundImage {
  background-image: url("./Pictures/children.jpg");
  background-size: cover;
  background-position: center center;
  padding: 20px;
  width: 100%;
  position: fixed;
  height: 100vh;
  z-index: 3;
}
.container-fluid {
  position: relative;
  z-index: 5;
}
.section__first {
  height: 89vh;
}

.section__second {
  background-color: white;
  padding: 35px;
}

.spieltag{
  background-color: #E19026;
}

.page-footer{
  padding: 22px;
  background: white;
  padding: 0px !important;
}

.page-footer .text-uppercase{
  font-size: 12px;
}
.page-footer .textDarunter{
  margin-top: 35px;
  text-align: left;
  font-size: 11px;
}
.list-unstyled a{
  color: grey;
  font-size: 11px;
}

/* Style icons */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: left;
  text-decoration: none;
  color: black;
}

/*hover effect */
.fa:hover {
  opacity: 0.7;
}
