<!doctype html>
<html lang="en">
<% include ./partials/heading %>
<body>
<% include ./partials/navbar %>
<div class="backgroundImage"></div>
<div class="container-fluid section__first mr-auto spacer">
    <h2 class="heading">Turnierplan <%= tournament.name %></h2>
    <% tournament.playDays.forEach(function(playDay) { %>
        <table class="table table-striped table-dark">
            <thead>
            <tr class="spieltag">
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
            <tr>
                <th scope="col">Heim</th>
                <th scope="col">Gast</th>
                <th scope="col">Heim Ergebnis</th>
                <th scope="col">Gast Ergebnis</th>
            </tr>
            </thead>
            <tbody>
            <% playDay.forEach(function(match) { %>
                <tr>
                    <td><%= match.team1 %></td>
                    <td><%= match.team2 %></td>
                    <td>
                        <input type="text" class="form-control" placeholder="Tore Heim-Team">
                    </td>
                    <td>
                        <input type="text" class="form-control" placeholder="Tore Gast-Team">
                    </td>
                </tr>
            <% }); %>
            </tbody>
        </table>
    <% }); %>
</div>
<% include ./partials/footer %>
</body>
</html>
