.navbar .navbar__logo {
  max-height: 35px;
}

.navbar{
  font-size: 15px;
  width: 100%;
  z-index: 10;
  position: fixed;
}

.abstandTop{
  padding: 60px;
}

.heading{
  font-family:Viga;
  margin-bottom: 50px;
}

.unterHeading{
  font-family:Viga;
}

.unterHeading__abstand{
  margin-bottom: 20px;
}

.btnSpieplanGenerator{
  background-color: #E19026;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  float: left;
}

.heading2{
  font-family:Viga;
  text-align: center;
  padding-bottom: 30px;
}

.unterHeading2{
    text-align: center;
}

.wrapper{
  margin-top: 40px;
  text-align: center;
}

.btnSpieplanGenerator2{
  background-color: #352624;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

.button__effekt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button__effekt span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button__effekt:hover span {
  padding-right: 25px;
}

.button__effekt:hover span:after {
  opacity: 1;
  right: 0;
}

.button__effekt:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.untererContainer-fluid{
  position: relative;
  z-index: 5;
  background-color: #E19026;
  padding: 60px;
}
.container-fluid {
  position: relative;
  z-index: 5;
}

.section__second {
  background-color: white;
  padding: 35px;
}

.startpage-main-container {
  height: 100vh;
  padding-top: 20px;
}
.backgroundImage--children {
  background-image: url("./images/children.jpg");
  background-size: cover;
  background-position: center center;
  padding: 20px;
  width: 100%;
  position: fixed;
  height: 100vh;
  z-index: 3;
}

.page-footer{
  padding: 22px;
  background: white;
  padding: 0px !important;
}

.page-footer .text-uppercase{
  font-size: 12px;
}
.page-footer .textDarunter{
  margin-top: 35px;
  text-align: left;
  font-size: 11px;
}
.list-unstyled a{
  color: grey;
  font-size: 11px;
}

/* Style icons */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: left;
  text-decoration: none;
  color: black;
}

/*hover effect */
.fa:hover {
  opacity: 0.7;
}
