.navbar .navbar__logo {
  max-height: 35px;
}

.navbar{
  font-size: 15px;
  width: 100%;
  z-index: 10;
  position: fixed;
}
.backgroundImage {
  background-image: url("./images/backgroundChildren.jpg");
  background-size: cover;
  background-position: center center;
  padding: 20px;
  width: 100%;
  position: fixed;
  height: 100vh;
}

.spacer {
    padding-top: 20px;
    padding-bottom: 20px;
}

.abstandTop{
  padding: 50px;
}
.container-fluid {
  position: relative;
  z-index: 5;
}

.section__first {
  margin-bottom: 50px;
}

.spielplan {
  display: none;
}

.rangliste {
  display: none;
}

.nav>li>a {
    background-color: #E19026 !important;
    color: white;
}

.section__second {
  background-color: white;
  padding: 35px;
}

.heading{
  padding-top: 50px;
  padding-bottom: 25px;
  text-align: center;
  font-family: Viga;
}

.infoText{
  margin-top: 30px;
  margin-bottom: 20px;
  text-align: left;
}
.btnTeam{
  background-color: #E19026;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
  float: right;
  margin-bottom: 20px;
}

.btnFertig{
    background-color: #E19026;
    float: center;
    border: none;
    color: white;
    width: 100%;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

.btnRangliste{
    background-color: #E19026;
    float: center;
    border: none;
    color: white;
    width: 100%;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    margin-top: 20px;
}
.abstandZumFooter{
  padding: 50px;
}

.button__effekt span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button__effekt span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button__effekt:hover span {
  padding-right: 25px;
}

.button__effekt:hover span:after {
  opacity: 1;
  right: 0;
}

.button__effekt:hover {
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.untererAbstand{
    padding: 60px;
}

.page-footer{
  padding: 22px;
  background: white;
  padding: 0px !important;
}

.page-footer .text-uppercase{
  font-size: 12px;
}
.page-footer .textDarunter{
  margin-top: 35px;
  text-align: left;
  font-size: 11px;
}
.list-unstyled a{
  color: grey;
  font-size: 11px;
}

/* Style icons */
.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: left;
  text-decoration: none;
  color: black;
}

/*hover effect */
.fa:hover {
  opacity: 0.7;
}
